.sidebar {
	overflow: hidden;
	height: 100%;
	background: #fff;
	display: flex;
	flex-direction: column;
	position: relative;
	min-width: 50px;
}

.title {
	font-size: 1.2rem;
	margin: 0 0.4rem;
}

.collapsed {
	width: 75px !important;
}

.toggle {
	font-size: 1.5rem;
	margin: 10px;
	position: absolute;
	top: 10px;
	left: 0;
}

.content {
	flex: 1;
	padding: 5px;
	display: flex;
	flex-direction: column;
}

.listboxItem {
	width: 100%;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.resizeHandle {
	position: absolute;
	width: 4px;
	height: 100%;
	right: 0;
	top: 0;
	background: #ccc;
	cursor: col-resize;
}
