.sidebar {
	overflow: hidden;
	height: 100%;
	display: flex;
	position: relative;
}

.collapsed {
	width: fit-content !important;
}

.content {
	height: 100%;
	flex: 1;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.resizeHandle {
	cursor: col-resize;
	padding: 0.25rem;
}

.title {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.collapsedTitle {
	justify-content: center;
}

.titleText {
	display: flex;
	flex-direction: column;
}

.titleText h1 {
	font-size: 1.2rem;
	font-weight: 600;
}

.titleText p {
	font-size: 0.75rem;
	font-weight: 400;
}

.projects {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.project {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.25rem;
	border-radius: 9999px;
	transition: all 0.2s ease;
}

.project:hover,
.action:hover {
	cursor: pointer;
	background: #e6e4e4;
}

.action-dark:hover {
	background: #2c2c2c;
}

.activeProject {
	background: #0070f0;
	color: #fff;
}

.activeProject:hover {
	background: #0353ae;
}

.action {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	transition: all 0.2s ease;
	padding: 0.25rem;
	border-radius: 9999px;
}

.projectText {
	display: flex;
	flex-direction: column;
}

.status {
	font-size: 0.75rem;
}

.footer {
	margin-top: auto;
}

.projectsHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
}

.projectsTitle {
	font-size: 1rem;
	font-weight: 600;
}

.refreshIcon {
	cursor: pointer;
	color: #000;
}

.refreshIcon:hover {
	color: #0070f0;
	transition: all 0.4s ease;
}

.refreshing {
	/* Force animation to finish before removing */
	animation: spin 1s linear 1;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
